#page-user-form{
  width: 100vw;
  height: 100vh;
}
#page-user-form main fieldset p {
  margin-top: 20px;
  margin-bottom: -40px;
  font-size: 1.8rem;
  color: var(--font-black);
}
#page-user-form main fieldset p a{
  font: 700 2.5rem Archivo;
  text-decoration: none;
  color: var(--font-black);
  cursor: pointer;
}
#page-user-form main label{
  font-size: 1.8rem;
  color: var(--font-black);
}
