#page-landing{
  width: 100vw;
  height: 100vh;
}
#page-landing-content {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: var(--font);
  background: var(--background);
}

.logo-container img{
  height: 10rem;
}
.hero-image{
  width: 100%;
}
.logo-container{
  text-align: center;
  margin-bottom: 3.2rem;
}
.logo-container p{
  font: Shojumaru;
  font-size: 5.5rem;
  color: var(--font);
}
.logo-container h2{
  font-weight: 500;
  font-size: 2.0rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
  color: var(--font);
}
.button-login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3.0rem auto;
  width: 90%;
}
.button-login a{
  width: 70%;
  height: 6.0rem;
  border-radius: 0.8rem;
  font: 700 2rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--font);
  transition: background-color 0.3s;
}

.button-login a img {
  width: 4rem;
  margin-right: 2.4rem;
}

.button-login a.login{
  background: var(--button-yelow-light);
}
.button-login a.login:hover{
  background: var(--button-yelow-dark);
}
.login-github{
  width: 70%;
  padding-left: 10px;
  height: 5.6rem;
  background: var(--button-blue-dark);
  color: var(--font);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}
.login-github:hover{
  background: var(--button-black-dark);
}
#button-github{
  cursor: pointer;
  margin: 0px 10px;
}
.login-gmail{
  width: 70%;
  padding-left: 10px;
  height: 5.6rem;
  background: var(--button-red-dark);
  color: var(--font);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s;
}
.login-gmail:hover{
  background: var(--button-black-dark);
}

#button-gmail{
  cursor: pointer;
  margin: 0px 10px;
}

.logout{
  width: 70%;
  padding-left: 10px;
  height: 5.6rem;
  background: var(--button-red);
  color: var(--font);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: 2rem;
}
.logout:hover{
  background: var(--button-red-dark);
}
#logout-icon{
  cursor: pointer;
  margin: 0px 10px;
}


@media(min-width: 1100px){
  #page-landing-content{
    max-width: 1100px;
    margin-left: 80px; 

    display: grid;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "hero logo"
    "button button"
    ;
  }

  .logo-container{
    grid-area: logo;
    align-self: center;
    text-align: center;
    margin: 0;
  }
  .logo-container h2 {
    text-align: center;
    font-size: 3.6rem;
  }
  .logo-container img{
    height: 100%;
  }
  .hero-image{
    grid-area: hero;
    justify-self: end;
  }
  
  .button-login a {
    font-size: 2.4rem;
  }
  .button-login{
    grid-area: button;
    margin-top: -130px;
    margin-left: 100px;
  }
}