:root {
  --background: #00916e;
  --main-background: #18473c;
  --input-background: #CCC;
  --form-background: #FFF;
  --input-border-line: #222;
  --button-blue-light: #215992;
  --button-blue-dark: #0e2d4d;
  --button-red-light: #dd614a;
  --button-red-dark: #8b2c1b;
  --button-yelow-light: #fcab10;
  --button-yelow-dark: #92620a;
  --font: #FFF;
  --font-black: #111;

  font-size: 60%;
}
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--background);
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px){
  :root {
    font-size: 62.5%;
  }
}