:root {
  --background: #215992;

  font-size: 60%;
}
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--background);
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 700px){
  :root {
    font-size: 62.5%;
  }
}