#page-user-form{
  width: 100vw;
  height: 100vh;
  background: var(--background);
}
#page-user-form main {
  background: var(--form-background);
  width: 95vw;
  max-width: 70rem;
  border-radius: 0.8rem;
  margin: 1.2rem auto 3.9rem;
  padding: 1.2rem auto 2.8rem;
  overflow: hidden;
}
#page-user-form #title{
  display:flex;
  flex-direction: column;
  align-items: center;
}
#page-user-form #title h1{
  text-align: center;
  color: var( --font);
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  margin-top: 0.8rem;
}
#page-user-form #title #register{
  width: 90%;
  height: 4.6rem;
  background: var(--button-red-light);
  color: var(--font);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.8rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}
#page-user-form #title #register:hover{
  background: var(--button-red-dark);
}


@media(min-width: 700px){
  #page-user-form .containerList{
    width: 90vw;
    max-width: 900px;
  }
  #page-user-form #title h1{
    font: 700 4.6rem Archivo;
  }
  #page-user-form main{
    margin: 1.5rem auto 2.2rem;
  }
  #page-user-form #title #register{
    width: 700px;
    height: 5.6rem;
    font: 700 2.2rem Archivo;
  }
}